<?xml version="1.0"?>

<PropertyList>

	<!-- Merlion Company Routes Database -->
	
	<!-- Feel free to add your own routes and push the routes.xml file onto git -->
	
	<!-- NOTE: SIDs, STARs and IAPs have to be added separately according to ATC instructions and weather conditions in LAT_REV from F-PLN/SEC F-PLN -->
	
	<database>15APR-14JUN   MIA_Data_v3.1</database>
	<database_>15FEB-14APR</database_>
	
	<route>
		<rte_id>MIALGWFRA1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp>
				<wp-id>DVR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>KONAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KOK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>FERDI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BUPAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>REMBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SPI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RASVO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PIPEP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>UNOKO</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.75</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWFRA2</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp>
				<wp-id>DVR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>KONAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KOK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>FERDI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BUPAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>REMBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SPI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PELIX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>MATUG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AMASI</wp-id>
				<altitude-ft>16000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>UBIDU</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWBCN1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>LEBL</arricao>
		<route>
			<wp>
				<wp-id>BOGNA</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>BENBO</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>DRAKE</wp-id>
				<altitude-ft>27000</altitude-ft>
				<ias-mach>0.75</ias-mach>
			</wp>
			<wp>
				<wp-id>SITET</wp-id>
				<ias-mach>0.81</ias-mach>
			</wp>
			<wp>
				<wp-id>ETRAT</wp-id>
				<ias-mach>0.81</ias-mach>
			</wp>
			<wp>
				<wp-id>PUMAL</wp-id>
				<ias-mach>0.81</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWZRH1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>LSZH</arricao>
		<route>
			<wp>
				<wp-id>BIG</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>SANDY</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>MOTOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ING</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RANUX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OBAKI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BEGAR</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>LENGI</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>270</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINHKG1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VHHH</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>RAXIM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OTLON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VISAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBSA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMOG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOLOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUDIS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DADAG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMVO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOXAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>NITOM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMEL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DONDA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOSUT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DULOP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUMOL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
		
	<route>
		<rte_id>MIASINMNL1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>RPLL</arricao>
		<route>
			<wp>
				<wp-id>HOSBA</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>TOMAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VERIN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LUSMO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAGOT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAXOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LULBU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LEGED</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGWDUB1</rte_id>
		<depicao>EGKK</depicao>
		<arricao>EIDW</arricao>
		<route>
			<wp>
				<wp-id>KENET</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>BEKSA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOBEM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPRO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>MEDOG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BADSI</wp-id>
				<altitude-ft>22000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>LIPGO</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADUBLGW1</rte_id>
		<depicao>EIDW</depicao>
		<arricao>EGKK</arricao>
		<route>
			<wp>
				<wp-id>LIFFY</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>GINIS</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>LYNAS</wp-id>
				<altitude-ft>17000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>MALUD</wp-id>
				<altitude-ft>22000</altitude-ft>
				<ias-mach>0.68</ias-mach>
			</wp>
			<wp>
				<wp-id>DOGIT</wp-id>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>TELBA</wp-id>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>DISIT</wp-id>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>KIDLI</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAHKGSIN1</rte_id>
		<depicao>VHHH</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>CH</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>EPDOS</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EPKAL</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EGEMU</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>EXOTO</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPAM</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>KARAN</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>ESPOB</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>ENREP</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>UGPEK</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>URIGO</wp-id>
				<ias-mach>0.79</ias-mach>
			</wp>
			<wp>
				<wp-id>OBDAB</wp-id>
				<altitude-ft>30000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>VPT</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.62</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIACGKSIN1</rte_id>
		<depicao>WIII</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>BIKAL</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>BOSLO</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>PKP</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>NE</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINCGK1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WIII</arricao>
		<route>
			<wp>
				<wp-id>REMES</wp-id>
				<altitude-ft>12000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>REPOV</wp-id>
				<altitude-ft>24000</altitude-ft>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>PARDI</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>PLB</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>AK</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>SIKAD</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.6</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINHKT1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VTSP</arricao>
		<route>
			<wp>
				<wp-id>BONSU</wp-id>
				<altitude-ft>12000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>BP</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.74</ias-mach>
			</wp>
			<wp>
				<wp-id>VMK</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>VKL</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>VBA</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>TA</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>PR</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>VBT</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>VPL</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>UTHAI</wp-id>
				<ias-mach>0.8</ias-mach>
			</wp>
			<wp>
				<wp-id>BORNA</wp-id>
				<altitude-ft>16000</altitude-ft>
				<ias-mach>260</ias-mach>
			</wp>
			<wp>
				<wp-id>BORNA</wp-id>
				<altitude-ft>16000</altitude-ft>
				<ias-mach>260</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAHKTSIN1</rte_id>
		<depicao>VTSP</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>KBI</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>TRN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>HTY</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>NTW</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VGK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKE</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PADLI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VMR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINKUL1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WMKK</arricao>
		<route>
			<wp>
				<wp-id>VJR</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>TERUS</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>GUPTA</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>VMK</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<!-- wp>
				<wp-id>LAPIR</wp-id>
				<altitude-ft>4000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp -->
		</route>
	</route>
	
	<route>
		<rte_id>MIASINKUL2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WMKK</arricao>
		<route>
			<wp>
				<wp-id>SJ</wp-id>
				<altitude-ft>5000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>BONSU</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>PIMOK</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPOR</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>OGAKO</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>BATAR</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<!-- wp>
				<wp-id>LAPIR</wp-id>
				<altitude-ft>5000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp -->
		</route>
	</route>
	
	<route>
		<rte_id>MIAKULSIN1</rte_id>
		<depicao>WMKK</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>SADIB</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>OGAKO</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>REKOP</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>BOBAG</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAKULSIN2</rte_id>
		<depicao>WMKK</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>MUMOD</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMAL</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>VJR</wp-id>
				<altitude-ft>8000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
		</route>
	</route>
	
	<!-- These routes have been copied from merlion's full MIAData_v3.1 Database for further test flights -->
	
	<route>
		<rte_id>MIAPENSIN1</rte_id>
		<depicao>WMKP</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>VPS</wp-id>
				<altitude-ft>16000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>VBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VMK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VJR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINPEN1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WMKP</arricao>
		<route>
			<!-- R325 Airway -->
			<wp>
				<wp-id>VJR</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SAROX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ISTAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KIMAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANSOM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VIH</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- W530 Airway -->
			<wp>
				<wp-id>PR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINPEN2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WMKP</arricao>
		<route>
			<!-- P501 Airway -->
			<wp>
				<wp-id>BOBAG</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ARAMA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OGAKO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BATAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- A464 Airway -->
			<wp>
				<wp-id>LAPIR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VIH</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- W530 Airway -->
			<wp>
				<wp-id>PR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINLGK1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WMKL</arricao>
		<route>
			<wp>
				<wp-id>ANBUS</wp-id>
				<altitude-ft>22000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OGAKO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUMOK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>MANIS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SUKAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TEPUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VBT</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.62</ias-mach>
			</wp>
			<wp>
				<wp-id>VILAT</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>240</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINLGK2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WMKL</arricao>
		<route>
			<!-- P501 Airway -->
			<wp>
				<wp-id>BOBAG</wp-id>
				<altitude-ft>26000</altitude-ft>
				<ias-mach>0.72</ias-mach>
			</wp>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ARAMA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TOPOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OGAKO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BATAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- A464 Airway -->
			<wp>
				<wp-id>LAPIR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VBA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VIH</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- W531 Airway -->
			<wp>
				<wp-id>VBT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VILAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PR</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIALGKSIN1</rte_id>
		<depicao>WMKL</depicao>
		<arricao>WSSS</arricao>
		<route>
			<!-- W531 Airway -->
			<wp>
				<wp-id>VILAT</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.65</ias-mach>
			</wp>
			<wp>
				<wp-id>VBT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VIH</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- R325 Airway -->
			<wp>
				<wp-id>ANSOM</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KIMAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SAROX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DAMAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VJR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINBKI1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WBKK</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LENDA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LIPRO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LEBIN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LUSMO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TERIX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OLKIT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANIRU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOGOG</wp-id>
				<altitude-ft>18000</altitude-ft>
				<ias-mach>0.62</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIABKISIN1</rte_id>
		<depicao>WBKK</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>VLB</wp-id>
				<altitude-ft>14000</altitude-ft>
				<ias-mach>0.60</ias-mach>
			</wp>
			<wp>
				<wp-id>VMI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VBU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>GONAD</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PILAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ATETI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OBGET</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TOMAN</wp-id>
				<altitude-ft>22000</altitude-ft>
				<ias-mach>0.62</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINSGN1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VVTS</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ENREP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ESPOB</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>CS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAMNLSIN1</rte_id>
		<depicao>RPLL</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>OLRAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LEGED</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LULBU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAXOR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LAGOT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOLOX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPLI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- USE PAPSU STAR FOR ARRIVAL -->
		</route>
	</route>
	
	<route>
		<rte_id>MIAMAASIN1</rte_id>
		<depicao>VOMM</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>GIRNA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ELSAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBTA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BAC</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>JILAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AMVIL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SALAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<!-- USE PAPSU STAR FOR ARRIVAL -->
		</route>
	</route>
	
	<route>
		<rte_id>MIAFRAZRH1</rte_id>
		<depicao>EDDF</depicao>
		<arricao>LSZH</arricao>
		<route>
			<wp>
				<wp-id>RID</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>HEIDL</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>KRH</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>SUL</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>RILAX</wp-id>
				<ias-mach>250</ias-mach>
			</wp>
			<!-- USE A RILA1 STAR FOR ARRIVAL -->
		</route>
	</route>
	
	<route>
		<rte_id>MIAFRAZRH2</rte_id>
		<depicao>EDDF</depicao>
		<arricao>LSZH</arricao>
		<route>
			<wp>
				<wp-id>SOBRA</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>RAFEL</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>SAV</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>ANDLO</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>AP</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>BLM</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAZRHFRA1</rte_id>
		<depicao>LSZH</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp>
				<wp-id>VEDOK</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>LOKTA</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>ESULI</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>LBU</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>ROLSO</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>SUPIX</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIAFRASXF1</rte_id>
		<depicao>EDDF</depicao>
		<arricao>EDDB</arricao>
		<route>
			<wp>
				<wp-id>FUL</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>MAGES</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANIBI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>OBADI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DOLIT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DODIP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KUBOG</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASXFFRA1</rte_id>
		<depicao>EDDB</depicao>
		<arricao>EDDF</arricao>
		<route>
			<wp>
				<wp-id>LERSI</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
			<wp>
				<wp-id>BARAP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KUMER</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RIMET</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BRAUN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>FULNO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>FUL</wp-id>
				<ias-mach>280</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIABKKSIN1</rte_id>
		<depicao>VTBS</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>REGOS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>IDAGA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>EMELA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>MUBAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TIKAL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ABTOK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>GUNBO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TAXUL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIABKKSIN2</rte_id>
		<depicao>VTBS</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>PARKK</wp-id>
				<altitude-ft>10000</altitude-ft>
				<ias-mach>250</ias-mach>
			</wp>
			<wp>
				<wp-id>REGOS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>EMELA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUGON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VENLI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>IKUKO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VEPLI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINBKK1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VTBS</arricao>
		<route>
			<wp>
				<wp-id>VMR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>GUNBO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>VKB</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SKL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RECNO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>APRIL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>UKERA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>HOTEL</wp-id>
				<ias-mach>0.65</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINBKK2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VTBS</arricao>
		<route>
			<wp>
				<wp-id>VPT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ENREP</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>GUNBO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>IKUMI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>IGARI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SAMOG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>XONAN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BENSA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANOBO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>RYN</wp-id>
				<ias-mach>0.65</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINDPS1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WRRR</arricao>
		<route>
			<wp>
				<wp-id>REPOV</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>NE</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>IMU</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ANY</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SBR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINDPS2</rte_id>
		<depicao>WSSS</depicao>
		<arricao>WRRR</arricao>
		<route>
			<wp>
				<wp-id>REPOV</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>JAMBI</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>PLB</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AK</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>CKG</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SLO</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>LW</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIADPSSIN1</rte_id>
		<depicao>WRRR</depicao>
		<arricao>WSSS</arricao>
		<route>
			<wp>
				<wp-id>SBR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KJ</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>TPN</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>KIRDA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>REMES</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>
	</route>
	
	<route>
		<rte_id>MIASINMAA1</rte_id>
		<depicao>WSSS</depicao>
		<arricao>VOMM</arricao>
		<route>
			<wp>
				<wp-id>ANBUS</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>SALAX</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>AMVIL</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ON</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>		
			<wp>
				<wp-id>JILAT</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>BAC</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>DUBTA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>ELSAR</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
			<wp>
				<wp-id>GIRNA</wp-id>
				<ias-mach>0.78</ias-mach>
			</wp>
		</route>

	</route>
	
	<route>
		<rte_id>PHEDDFEDDS1</rte_id>
		<depicao>EDDF</depicao>
		<arricao>EDDS</arricao>
		<route>
			<wp><wp-id>RID</wp-id></wp>
			<wp><wp-id>ANEKI</wp-id></wp>
			<wp><wp-id>KRH</wp-id></wp>
		</route>
	</route>

</PropertyList>
